
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>
      var cont=0;
  function loopSlider(){
    var xx= setInterval(function(){
          switch(cont)
          {
          case 0:{
              $("#slider-1").fadeOut(400);
              $("#slider-2").delay(400).fadeIn(400);
          cont=1;
          
          break;
          }
          case 1:
          {
          
              $("#slider-2").fadeOut(400);
              $("#slider-3").delay(400).fadeIn(400);
             
          cont=2;
          
          break;
          }
          case 2:
          {
          
              $("#slider-3").fadeOut(400);
              $("#slider-1").delay(400).fadeIn(400);
             
          cont=0;
          
          break;
          }
          
          
          }},3000);
  
  }
  
  function reinitLoop(time){
  clearInterval(xx);
  setTimeout(loopSlider(),time);
  }
  
  
      $(window).ready(function(){
          $("#slider-2").hide();
          $("#slider-3").hide();
         loopSlider();
      });
  
    
    </script>
    <div class="sliderAx h-4/6 w-full md:w-4/6">
        <div id="slider-1" class="container">
          <img class=" z-50" src="/public/homecarousel/1.jpg" />
        <br>
        </div>
  
        <div id="slider-2" class="container">
          <img class="z-50" src="/public/homecarousel/2.jpg" />
        <br>
        </div>
        <div id="slider-3" class="container">
          <img class="z-50" src="/public/homecarousel/3.jpg" />
        <br>
        </div>
      </div>