<%- include("./partials/header.ejs") %>
<div class="flex flex-wrap pt-24 justify-center space-x-64">
    <div class="flex ">
    <div class="text-2xl font-bold" style="color: #142661; width:740px">Cite a course!
    <p class="text-lg" style="color:#676792">You can cite those courses from course directory you don’t have permission to access. For 
    course citation you have to select a the course and request permission from respective 
    Professor or Course Directory team. Once the request is approved you will receive a mail 
    stating the approvance to view the course. The course will be available in saved section of my
    learning and can be searched and viewed as well.</p></div></div>
    <div>
    <svg width="271" height="243" viewBox="0 0 271 243" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="12.1309" width="243" height="243" rx="121.5" fill="#F8F8FF"/>
    <path d="M85.8865 167.036L65.9713 164.259L66.689 166.367C68.8551 172.744 68.1374 180.486 65.4863 186.673L66.3528 187.04L85.3466 193.712L85.8865 167.036Z" fill="#F8F8FF"/>
    <path d="M202.208 167.632L84.4752 168.25L65.5234 164.364L191.71 163.376L202.208 167.632Z" fill="#2D4BAF"/>
    <path d="M65.3302 164.942C68.6344 165.259 71.8997 166.168 75.1294 166.87L84.2465 168.858C84.7282 168.964 84.9351 168.256 84.4501 168.153L74.6057 166.009C71.5408 165.34 68.463 164.502 65.3302 164.201C64.8388 164.156 64.8421 164.888 65.3302 164.933V164.942Z" fill="#2D4BAF"/>
    <path d="M84.4451 192.514C77.8116 190.777 71.3172 188.621 65.0085 186.061C64.3544 185.797 63.7847 186.695 64.442 186.962C70.8411 189.565 77.4298 191.757 84.1603 193.522C84.8426 193.703 85.14 192.695 84.4451 192.514Z" fill="#2D4BAF"/>
    <path d="M202.166 193.974L84.4336 193.709L84.9573 188.019C85.3776 183.393 85.4003 178.744 85.0252 174.115L84.4724 168.259L202.205 167.656L202.318 168.018C204.981 176.508 204.928 185.537 202.166 193.999V193.974Z" fill="#466FF5"/>
    <path d="M190.837 165.93L79.263 165.68C79.1843 165.678 79.1095 165.648 79.0545 165.596C78.9995 165.543 78.9687 165.473 78.9688 165.4L79.0076 141.061C79.0067 141.024 79.0137 140.988 79.0281 140.954C79.0425 140.92 79.064 140.889 79.0914 140.863C79.1188 140.837 79.1515 140.816 79.1877 140.802C79.2238 140.788 79.2626 140.781 79.3017 140.781L190.872 141.034C190.911 141.034 190.95 141.041 190.986 141.055C191.022 141.069 191.055 141.09 191.082 141.116C191.11 141.142 191.131 141.173 191.146 141.207C191.16 141.241 191.167 141.277 191.166 141.314L191.131 165.653C191.131 165.726 191.1 165.796 191.045 165.848C190.99 165.9 190.915 165.929 190.837 165.93Z" fill="#FFDD66"/>
    <path d="M206.321 123.431L68.386 123.129C68.347 123.129 68.3084 123.121 68.2724 123.107C68.2365 123.093 68.204 123.072 68.1766 123.046C68.1493 123.02 68.1278 122.989 68.1132 122.955C68.0987 122.922 68.0914 122.886 68.0918 122.849L68.1209 105.234C68.12 105.197 68.127 105.161 68.1414 105.127C68.1558 105.093 68.1774 105.062 68.2048 105.036C68.2322 105.01 68.2649 104.989 68.301 104.975C68.3371 104.961 68.3759 104.953 68.4151 104.953L206.351 105.255C206.429 105.256 206.504 105.286 206.559 105.339C206.614 105.391 206.645 105.461 206.645 105.535L206.616 123.153C206.616 123.226 206.585 123.296 206.53 123.348C206.475 123.4 206.4 123.43 206.321 123.431Z" fill="#466FF5"/>
    <path d="M184.211 105.541L96.2734 105.342L96.3381 69.4392L184.275 69.638L184.599 71.6381C186.273 82.2172 186.257 92.9691 184.55 103.544L184.211 105.541Z" fill="#FE7979"/>
    <path d="M119.575 105.158L109.779 105.134L109.834 69.7073L119.63 69.7314L119.575 105.158Z" fill="#F8F8FF"/>
    <path opacity="0.13" d="M96.3431 69.6379L184.267 69.8367L185.48 79.0844L96.3398 71.5839L96.3431 69.6379Z" fill="#000100"/>
    <path d="M81.932 113.87C80.7625 112.488 79.3851 111.271 77.8424 110.255C77.2313 109.849 76.6526 110.797 77.2604 111.201C78.5633 112.074 79.7401 113.099 80.7617 114.252C79.6461 115.472 78.4371 116.615 77.144 117.671C76.5783 118.132 77.3962 118.906 77.9587 118.452C79.3908 117.284 80.7196 116.011 81.932 114.644C82.0347 114.538 82.0916 114.4 82.0916 114.257C82.0916 114.114 82.0347 113.976 81.932 113.87Z" fill="#F8F8FF"/>
    <path d="M88.6459 113.656C87.8603 112.517 86.3828 111.547 85.3644 110.604C84.8245 110.116 84.0065 110.89 84.5465 111.378C85.4194 112.171 86.6705 112.999 87.4368 113.936C86.9971 114.439 86.2535 114.909 85.7912 115.312L83.9322 116.93C83.3826 117.406 84.2005 118.183 84.7469 117.707L86.9777 115.767C87.5273 115.291 88.2709 114.831 88.6459 114.21C88.6975 114.126 88.7246 114.03 88.7246 113.933C88.7246 113.836 88.6975 113.74 88.6459 113.656Z" fill="#F8F8FF"/>
    <path d="M181.264 165.753L174.783 165.75L174.972 140.896L181.453 140.899L181.264 165.753Z" fill="#FE7979"/>
    <path d="M199.148 141.269L61.2122 140.968C61.1731 140.968 61.1345 140.96 61.0986 140.946C61.0627 140.931 61.0301 140.911 61.0028 140.885C60.9755 140.859 60.9539 140.828 60.9394 140.794C60.9248 140.76 60.9176 140.724 60.918 140.688L60.9438 123.069C60.9438 122.996 60.9747 122.926 61.0298 122.874C61.0849 122.822 61.1597 122.793 61.238 122.792L199.177 123.093C199.255 123.095 199.329 123.125 199.384 123.178C199.438 123.23 199.468 123.3 199.468 123.373L199.442 140.992C199.442 141.065 199.411 141.135 199.356 141.187C199.301 141.239 199.226 141.268 199.148 141.269Z" fill="#FE7979"/>
    <path d="M79.0128 134.583C79.0118 135.159 78.5434 135.626 77.967 135.624C77.3917 135.622 76.9264 135.155 76.9271 134.58L76.9341 129.229C76.9349 128.652 77.4039 128.185 77.9811 128.187C78.5572 128.189 79.0231 128.657 79.0221 129.233L79.0128 134.583Z" fill="#F8F8FF"/>
    <path d="M83.4972 129.246L83.4832 134.598C83.4817 135.174 83.9473 135.642 84.5231 135.643C85.0989 135.645 85.5669 135.179 85.5684 134.603L85.5825 129.251C85.584 128.675 85.1184 128.207 84.5426 128.206C83.9668 128.205 83.4987 128.67 83.4972 129.246Z" fill="#F8F8FF"/>
    <path d="M90.0543 72.3249C90.0543 72.3249 94.144 95.1005 89.2363 104.499L96.2875 105.342L96.3392 69.6379L90.0543 72.3249Z" fill="#E3E4E3"/>
    <path d="M37.6173 37.7518C37.7307 43.3842 32.2036 48.6074 26.1811 48.4528C20.1587 48.2982 14.8695 42.7187 15.5959 37.142C16.1303 33.167 19.0284 30.134 22.7142 27.8696C24.4075 27.3539 26.2072 27.2161 27.9682 27.4671C29.7292 27.7182 31.4023 28.3512 32.8526 29.3151C34.303 30.279 35.49 31.5468 36.3181 33.0165C37.1462 34.4861 37.5921 36.1165 37.6201 37.7761L37.6173 37.7518Z" fill="#FFDD66"/>
    <path d="M240.694 168.346C242.44 169.706 242.668 172.459 241.134 174.016C239.6 175.572 236.592 175.594 235.071 174.025C233.99 172.902 233.781 171.386 234.001 169.851C234.262 169.275 234.664 168.765 235.175 168.361C235.687 167.956 236.293 167.67 236.945 167.524C237.597 167.378 238.277 167.377 238.929 167.52C239.582 167.664 240.189 167.948 240.702 168.351L240.694 168.346Z" fill="#FFDD66"/>
    <path d="M267.766 68.2239C267.836 71.6985 264.426 74.9206 260.711 74.8253C256.996 74.7299 253.733 71.2879 254.181 67.8478C254.511 65.3956 256.299 63.5246 258.572 62.1277C259.617 61.8096 260.727 61.7245 261.813 61.8794C262.9 62.0343 263.932 62.4248 264.827 63.0194C265.721 63.614 266.454 64.3961 266.964 65.3028C267.475 66.2094 267.75 67.2151 267.768 68.2389L267.766 68.2239Z" fill="#FE7979"/>
    <path d="M218.538 30.0106C221.049 31.8346 221.512 35.6739 219.447 37.9193C217.383 40.1647 213.178 40.3319 210.969 38.2062C209.4 36.6846 209.029 34.5739 209.256 32.4177C209.591 31.601 210.127 30.869 210.821 30.2807C211.515 29.6923 212.348 29.2642 213.252 29.0307C214.156 28.7971 215.107 28.7648 216.027 28.9362C216.947 29.1076 217.811 29.478 218.549 30.0176L218.538 30.0106Z" fill="#466FF5"/>
    <path d="M93.4784 12.3859C95.0472 13.5251 95.3358 15.9231 94.0464 17.3256C92.757 18.728 90.1309 18.8325 88.7513 17.5048C87.7713 16.5544 87.5392 15.2361 87.6811 13.8893C87.8903 13.3792 88.2251 12.922 88.6586 12.5545C89.0921 12.1871 89.6122 11.9197 90.177 11.7738C90.7418 11.6279 91.3354 11.6077 91.9101 11.7148C92.4848 11.8219 93.0245 12.0532 93.4856 12.3902L93.4784 12.3859Z" fill="#466FF5"/>
    <path d="M9.81184 123.863C12.0417 125.482 12.452 128.89 10.6192 130.884C8.78649 132.877 5.05393 133.025 3.09293 131.138C1.70004 129.788 1.37018 127.914 1.57188 126C1.86913 125.275 2.34503 124.625 2.96122 124.102C3.57741 123.58 4.31666 123.2 5.11941 122.993C5.92215 122.785 6.76595 122.757 7.58279 122.909C8.39963 123.061 9.16669 123.39 9.82214 123.869L9.81184 123.863Z" fill="#FE7979"/>
    </svg></div>
    </div>
    <div class="font-bold text-2xl text-black ml-32 mb-8">Details for citation</div>
    <form class="mb-16" method="post" action="">
    <div class="flex flex-wrap ml-32">
    <div class="flex items-center mb-8">
    <label class="text-2xl text-black mr-7" for="name">Your Name</label>
    <p class="border-2 border-black text-black px-2 py-2" style="width:401px; height:60px"><%= user.username %></p></div>
    <div class="flex items-center mb-8 ml-20">
    <label class="text-2xl text-black mr-7" for="coursecode">Course Name/Code</label>
    <input class="border-2 border-black text-black px-2 py-2" style="width:401px; height:60px"  type="text" placeholder="Course Name" name="course_name"></div>
    </div><div class="flex flex-wrap ml-32">
    <div class="flex items-center mb-8 ">
    <label class="text-2xl text-black mr-7" for="email">Your e-mail</label>
    <p class="border-2 border-black text-black px-2 py-2" style="width:401px; height:60px"><%= user.outlookID %></p></div>
    <div class="flex items-center mb-8 ml-10">
    <label class="text-2xl text-black mr-7" for="professor">Professor/CD Members</label>
    <input class="border-2 border-black text-black px-2 py-2" style="width:401px; height:60px"  type="text" placeholder="professor" name="professor"></div>
    </div><div class="flex flex-wrap ml-32">
    <div class="flex ">
    <label class="text-2xl text-black mr-7" for="reason">Reason</label>
    <textarea style="width: 1139px; height: 180px;" class="border-2 border-black text-black px-2 py-2" type="text" placeholder="Reason" name="reason"></textarea></div>
    </div><div class="flex justify-end mx-36"><button class="bg-blue-600 px-16 py-4 text-xl rounded-md text-white mt-4" type="submit">Send</button></div></form>
<%- include("./partials/footer.ejs") %>