<%- include("./partials/header.ejs") %>
<div class="flex flex-wrap pt-24 justify-center space-x-64">
    <div class="flex ">
    <div class="text-2xl font-bold" style="color: #142661; width:740px">Contribute to Course Directory
    <p class="text-lg" style="color:#676792">You can contribute to course Directory Community by uploading material, videos, papers etc. 
        related to any course available on Course Directory website. To contribute you can fill the below
        mentioned fields and upload your material. Our team will review it and you will get the mail of
        approval or required changes.</p></div></div>
    <div>
        <svg width="320" height="244" viewBox="0 0 320 244" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="45" y="22.0002" width="222" height="222" rx="111" fill="#F8F8FF"/>
            <path d="M95.8103 100.88H43.6707C41.212 100.88 39.2188 102.758 39.2188 105.075V158.071H59.3461V162.913C59.3461 167.671 64.498 171.529 69.549 171.529C74.6 171.529 79.0242 167.368 79.0242 162.609V158.071H99.8793C99.8793 155.602 99.8793 140.23 99.8793 137.723H94.7402C89.6896 137.723 85.5953 133.866 85.5953 129.107C85.5953 124.349 89.6892 120.491 94.7402 120.491H99.8793V117.337V104.714C99.8793 102.597 98.0574 100.88 95.8103 100.88Z" fill="#466FF5"/>
            <path d="M51 101.318H43.356C40.9503 101.318 39 103.194 39 105.509V158.46H46.644V105.51C46.644 103.195 48.5943 101.318 51 101.318Z" fill="#2651DD"/>
            <path d="M156.895 156.996C150.847 156.996 146.191 156.996 139.623 156.996V152.13C139.623 147.348 135.492 143.472 130.395 143.472C125.298 143.472 121.167 147.348 121.167 152.13V156.996C118.18 156.996 101.411 156.996 99 156.996V176.703H104.186C109.282 176.703 113.414 180.58 113.414 185.362C113.414 190.144 109.283 194.02 104.186 194.02H99V213.728H156.507C158.989 213.728 161 211.841 161 209.513C161 208.208 161 161.441 161 160.848C161.001 158.721 159.162 156.996 156.895 156.996Z" fill="#466FF5"/>
            <path d="M104.849 177.047H99.7057V157.523H78.5043V162.344C78.5043 167.081 74.4073 170.922 69.3525 170.922C64.2977 170.922 60.2007 167.082 60.2007 162.344V157.523H39V209.552C39 211.858 40.9951 213.728 43.4552 213.728H99.7053V194.203H104.848C109.903 194.203 114 190.363 114 185.625C114 180.888 109.903 177.047 104.849 177.047Z" fill="#FFDD66"/>
            <path d="M46.644 209.552V157.523H39V209.552C39 211.858 40.9506 213.728 43.356 213.728H51C48.5943 213.728 46.644 211.858 46.644 209.552Z" fill="#E0BF4A"/>
            <path d="M272.023 40.4559L232.964 4.54135C232.188 3.82742 230.939 3.83743 230.176 4.56398L216.826 17.2704L213.126 13.8688C211.179 12.077 208.499 11.1887 205.776 11.4313C203.619 11.6235 201.593 12.5269 200.071 13.9751C196.502 17.3721 196.553 22.8514 200.182 26.1888L203.882 29.5905L190.532 42.2965C189.769 43.0231 189.78 44.191 190.556 44.9049L202.995 56.3435C203.773 57.0581 205.022 57.0461 205.784 56.3208C208.122 54.0955 209.867 51.9758 213.745 51.6304C219.12 51.1514 223.808 55.0711 223.854 60.1524C223.908 66.0312 218.365 67.5809 218.384 69.7366C218.394 70.7893 218.001 70.1418 231.413 82.4748C232.19 83.1887 233.439 83.1783 234.202 82.4518L272.076 46.4032C273.813 44.7491 273.79 42.0812 272.023 40.4559Z" fill="#FE7979"/>
            <path d="M217.079 16.8584L217.008 16.9257L213.282 13.5081C211.32 11.708 208.622 10.8158 205.879 11.0602C203.706 11.2538 201.665 12.162 200.131 13.6177C196.536 17.0322 196.585 22.5383 200.24 25.8913L203.966 29.309L190.517 42.0803C189.748 42.8106 189.758 43.9843 190.54 44.7015L203.067 56.1936C203.849 56.9115 205.108 56.8993 205.875 56.1703C208.231 53.9336 209.99 51.8031 213.895 51.4551C219.31 50.9727 224.031 54.9106 224.076 60.0169C224.129 65.9245 218.545 67.483 218.564 69.6493C218.573 70.7072 218.178 70.0565 231.685 82.4473C232.467 83.1646 233.725 83.1538 234.494 82.4236L258.725 59.414C233.283 61.4666 212.588 40.4171 217.079 16.8584Z" fill="#FE7979"/>
            <path d="M65.6077 7.15061C64.9685 7.13792 64.3377 7.28957 63.784 7.58909C63.2583 7.90848 62.8079 8.32533 62.4607 8.81396C62.1135 9.30259 61.8768 9.85264 61.7652 10.4302C61.5532 11.0875 61.5162 11.7834 61.6576 12.4571C61.7989 13.1308 62.1142 13.7618 62.576 14.2951C63.0377 14.8283 63.6319 15.2474 64.3065 15.5159C64.9811 15.7844 65.7156 15.894 66.4459 15.8352C68.0204 15.8298 68.5156 15.6112 69.9048 14.9155C70.0673 14.8289 70.2066 14.7089 70.3124 14.5645C70.4182 14.4201 70.4876 14.2552 70.5154 14.082C70.607 13.4641 71.2224 12.006 71.1187 11.3901C70.8731 9.98901 70.4677 9.2061 69.2269 8.40591C68.6607 8.0507 68.0479 7.76551 67.4037 7.55743C66.8322 7.33265 66.2258 7.1953 65.6077 7.15061Z" fill="#FE7979"/>
            <path d="M280.925 163.619C280.242 163.605 279.568 163.767 278.976 164.087C278.415 164.429 277.933 164.874 277.562 165.397C277.191 165.919 276.938 166.507 276.819 167.124C276.592 167.826 276.553 168.57 276.704 169.29C276.855 170.01 277.192 170.684 277.685 171.254C278.179 171.824 278.814 172.272 279.535 172.559C280.256 172.846 281.041 172.963 281.821 172.9C283.504 172.894 284.033 172.661 285.518 171.917C285.691 171.825 285.84 171.696 285.953 171.542C286.066 171.388 286.141 171.212 286.17 171.026C286.268 170.366 286.926 168.808 286.815 168.15C286.553 166.652 286.119 165.816 284.793 164.96C284.188 164.581 283.533 164.276 282.845 164.054C282.234 163.813 281.586 163.667 280.925 163.619Z" fill="#FFDD66"/>
            <path d="M15.6735 24.1135C17.3089 24.2025 18.8908 24.7292 20.2474 25.6364C21.5286 26.5914 22.5984 27.7925 23.3909 29.1656C24.1835 30.5387 24.6819 32.0548 24.8556 33.6205C25.2703 35.4184 25.2304 37.2861 24.7393 39.0601C24.2483 40.8342 23.321 42.4607 22.0386 43.7975C20.7562 45.1343 19.1576 46.1407 17.3826 46.7288C15.6076 47.3169 13.7102 47.4687 11.8563 47.171C7.83556 46.8541 6.61279 46.1744 3.19846 44.0472C2.80021 43.7844 2.46738 43.4368 2.22507 43.0305C1.98276 42.6242 1.83729 42.1698 1.79959 41.7015C1.68512 40.0319 0.394532 36.0153 0.778237 34.3886C1.67608 30.6899 2.86267 28.6747 6.18657 26.7739C7.70133 25.933 9.32167 25.2884 11.0074 24.8559C12.5107 24.3648 14.0862 24.1142 15.6735 24.1135Z" fill="#FFDD66"/>
            <path d="M313.027 110.48C314.017 110.534 314.976 110.853 315.798 111.403C316.574 111.981 317.222 112.709 317.702 113.541C318.182 114.373 318.484 115.291 318.589 116.24C318.841 117.329 318.817 118.461 318.519 119.535C318.222 120.61 317.66 121.595 316.883 122.405C316.106 123.215 315.137 123.825 314.062 124.181C312.987 124.538 311.837 124.63 310.714 124.449C308.278 124.257 307.537 123.845 305.469 122.557C305.227 122.397 305.026 122.187 304.879 121.941C304.732 121.695 304.644 121.419 304.621 121.136C304.552 120.124 303.77 117.691 304.002 116.705C304.546 114.464 305.265 113.243 307.279 112.092C308.197 111.582 309.178 111.192 310.2 110.93C311.11 110.632 312.065 110.481 313.027 110.48Z" fill="#466FF5"/>
            </svg>
            </div>
    </div>
    <div class="font-bold text-2xl text-black ml-32 mb-8">Fill to Contribute!</div>
    <form class="mb-16" method="post" action="">
    <div class="flex flex-wrap ml-32">
    <div class="flex items-center mb-8">
    <label class="text-2xl text-black mr-7" for="name">Your Name</label>
    <input class="border-2 border-black text-black px-2" style="width:401px; height:60px" type="text" placeholder="name" name="name"></div>
    <div class="flex items-center mb-8 ml-20">
    <label class="text-2xl text-black mr-7" for="coursecode">Course Name/Code</label>
    <input class="border-2 border-black text-black px-2" style="width:401px; height:60px"  type="text" placeholder="Course Name" name="coursecode"></div>
    </div><div class="flex flex-wrap ml-32">
    <div class="flex items-center mb-8 ">
    <label class="text-2xl text-black mr-7" for="email">Your e-mail</label>
    <input class="border-2 border-black text-black px-2" style="width:401px; height:60px"  type="text" placeholder="email" name="email"></div>
    <div class="flex items-center mb-8 ml-52">
        <label class="text-2xl text-black mr-7" for="topic">Topic</label>
        <input class="border-2 border-black text-black px-2" style="width:401px; height:60px"  type="text" placeholder="Topic" name="topic"></div>
    </div><div class="flex flex-wrap ml-32">
    <div class="flex ">
    <label class="text-2xl text-black mr-7" for="reason">Reason</label>
    <textarea style="width: 1139px; height: 180px;" class="border-2 border-black text-black px-2" type="text" placeholder="Reason" name="reason"></textarea></div>
    </div><div class="flex justify-end mx-36"><button class="bg-blue-600 px-16 py-4 text-xl rounded-md text-white mt-4" type="submit">Send</button></div></form>
<%- include("./partials/footer.ejs") %>