<%- include("./partials/header.ejs") %>

<% if(user){ %>
    <div class="pt-24 w-auto h-screen mb-24 md:mb-0">
      <% }else{ %>
        <div class="pt-24 w-auto h-screen mb-80 md:mb-0">
        <% } %>
      <div class="container flex  flex-col md:flex-row items-center md:justify-center md:space-x-36">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 items-start text-center">
            <% if(user){ %>
              <div>
                <h1 class="text-5xl font-bold leading-tight" style="color: #142661;">
                Welcome <br><%= user.username %>
              </h1>
              <button  class="mx-auto lg:mx-40 hover:underline bg-white  font-bold rounded-md border-2 border-blue-800 my-4 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" style="color: #142661;">
                Start Learning
              </button></div><% }else{ %><div>
                <h1 class="my-4 text-5xl font-bold leading-tight" style="color: #142661;">
                    Welcome to<br> SWC Course Directory.
                  </h1>
              <p class="leading-tight text-2xl mb-8" style="color: #142661;">
                Your one-stop platform to all academic courses of IIT Guwahati including videos, study material, assignments as well as solving queries.  
              </p>
              <button onclick="openModal()" class="mx-auto lg:mx-40 hover:underline bg-white  font-bold rounded-md border-2 border-blue-800 my-4 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" style="color: #142661;">
                Sign Up for free
              </button></div>
              <% } %> 
        </div>
        <div class="py-6 text-center h-4/6 w-full md:w-4/6">
          <!-- <div class="sliderAx h-4/6 w-full md:w-4/6">
            <div id="slider-1" class="container">
              <img class=" z-50" src="/public/homecarousel/1.jpg" />
            <br>
            </div>
      
            <div id="slider-2" class="container">
              <img class="z-50" src="/public/homecarousel/2.jpg" />
            <br>
            </div>
            <div id="slider-3" class="container">
              <img class="z-50" src="/public/homecarousel/3.jpg" />
            <br>
            </div>
          </div> -->
          <svg  viewBox="0 0 682 414" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.8">
            <path opacity="0.8" d="M679.636 212.802C692.553 144.456 651.419 59.4971 583.47 42.4001C582.272 42.0987 581.064 41.8043 579.845 41.5169C482.096 18.7525 451.174 141.176 359.284 138.82C267.395 136.465 212.565 53.5247 97.0772 79.9377C-6.63806 103.785 -76.4481 331.124 203.551 391.962C427.608 440.625 641.133 416.693 679.636 212.802Z" fill="#C5D0F6"/>
            </g>
            <g filter="url(#filter0_d)">
            <path d="M581.256 84.099V352.492C581.256 356.27 579.755 359.894 577.084 362.565C574.412 365.237 570.789 366.738 567.01 366.738H129.9C126.122 366.738 122.499 365.237 119.827 362.565C117.156 359.894 115.655 356.27 115.655 352.492V84.099C115.655 80.3209 117.156 76.6974 119.827 74.0259C122.499 71.3543 126.122 69.8534 129.9 69.8534H567.646C567.797 69.8534 567.948 69.8534 568.099 69.8534C568.21 69.8428 568.322 69.8428 568.433 69.8534C568.617 69.8643 568.801 69.8859 568.982 69.9181C569.101 69.9076 569.22 69.9076 569.338 69.9181H569.51L569.855 69.9935C573.098 70.6543 576.01 72.4236 578.09 74.9975C580.171 77.5715 581.29 80.7896 581.256 84.099Z" fill="white"/>
            </g>
            <path d="M359.513 356.825C363.632 353.272 364.091 347.053 360.538 342.934C356.986 338.815 350.766 338.356 346.647 341.909C342.528 345.462 342.07 351.681 345.622 355.8C349.175 359.919 355.394 360.378 359.513 356.825Z" fill="#142661"/>
            <path d="M569.877 70.0907L569.532 70.0152H569.359C569.241 70.0048 569.122 70.0048 569.004 70.0152C568.822 69.9831 568.639 69.9615 568.454 69.9506C568.343 69.94 568.231 69.94 568.12 69.9506C567.969 69.9506 567.819 69.9506 567.668 69.9506H129.9C126.139 69.9505 122.53 71.438 119.861 74.0887C117.193 76.7393 115.68 80.3379 115.655 84.0992V332.643H581.256V84.0992C581.268 80.8094 580.142 77.6166 578.068 75.0631C575.993 72.5095 573.099 70.7526 569.877 70.0907ZM562.786 307.783C562.783 308.81 562.373 309.794 561.646 310.52C560.919 311.245 559.934 311.652 558.907 311.652H137.993C136.966 311.652 135.981 311.245 135.254 310.52C134.527 309.794 134.117 308.81 134.114 307.783V92.1703C134.114 91.1414 134.522 90.1547 135.25 89.4272C135.977 88.6997 136.964 88.291 137.993 88.291H558.907C559.936 88.291 560.922 88.6997 561.65 89.4272C562.378 90.1547 562.786 91.1414 562.786 92.1703V307.783Z" fill="#142661"/>
            <path d="M558.907 88.291H137.994C135.851 88.291 134.114 90.0278 134.114 92.1703V307.805C134.114 309.948 135.851 311.684 137.994 311.684H558.907C561.05 311.684 562.787 309.948 562.787 307.805V92.1703C562.787 90.0278 561.05 88.291 558.907 88.291Z" fill="#D7DEF9"/>
            <path d="M562.787 92.1703V112.526H134.114V92.1703C134.114 91.1415 134.523 90.1547 135.25 89.4272C135.978 88.6997 136.965 88.291 137.994 88.291H558.907C559.936 88.291 560.923 88.6997 561.651 89.4272C562.378 90.1547 562.787 91.1415 562.787 92.1703Z" fill="white"/>
            <path d="M529.586 100.08C529.589 100.732 529.397 101.371 529.036 101.914C528.675 102.458 528.161 102.882 527.558 103.134C526.956 103.385 526.293 103.452 525.652 103.326C525.012 103.2 524.424 102.887 523.961 102.426C523.499 101.965 523.184 101.378 523.056 100.738C522.928 100.098 522.992 99.4342 523.242 98.831C523.491 98.2279 523.914 97.7122 524.456 97.3494C524.999 96.9866 525.636 96.793 526.289 96.793C527.162 96.793 527.999 97.1389 528.617 97.7549C529.235 98.371 529.584 99.2069 529.586 100.08Z" fill="#FE7979"/>
            <path d="M540.254 100.08C540.257 100.732 540.065 101.371 539.704 101.914C539.343 102.458 538.829 102.882 538.226 103.134C537.624 103.385 536.961 103.452 536.32 103.326C535.68 103.2 535.091 102.887 534.629 102.426C534.167 101.965 533.852 101.378 533.724 100.738C533.596 100.098 533.66 99.4342 533.91 98.831C534.159 98.2279 534.581 97.7122 535.124 97.3494C535.666 96.9866 536.304 96.793 536.957 96.793C537.83 96.793 538.667 97.1389 539.285 97.7549C539.903 98.371 540.252 99.2069 540.254 100.08Z" fill="#142661"/>
            <path d="M509.63 96.5991H174.491C172.866 96.5991 171.549 97.9162 171.549 99.5409V100.618C171.549 102.243 172.866 103.56 174.491 103.56H509.63C511.254 103.56 512.571 102.243 512.571 100.618V99.5409C512.571 97.9162 511.254 96.5991 509.63 96.5991Z" fill="#D7DEF9"/>
            <path d="M149.598 100.08V103.313C149.6 103.418 149.573 103.522 149.521 103.613C149.469 103.704 149.393 103.78 149.302 103.833C149.211 103.886 149.108 103.913 149.003 103.913C148.898 103.912 148.794 103.884 148.704 103.83L145.913 102.214L143.122 100.608C143.033 100.556 142.958 100.481 142.907 100.391C142.855 100.301 142.828 100.2 142.828 100.096C142.828 99.9926 142.855 99.8909 142.907 99.8011C142.958 99.7112 143.033 99.6365 143.122 99.5843L145.913 97.9679L148.704 96.3624C148.794 96.3093 148.896 96.2808 149 96.2798C149.104 96.2788 149.207 96.3054 149.298 96.3567C149.388 96.4081 149.464 96.4825 149.517 96.5724C149.57 96.6623 149.598 96.7646 149.598 96.8688V100.08Z" fill="#142661"/>
            <path d="M154.502 100.08V103.313C154.502 103.416 154.529 103.518 154.58 103.608C154.632 103.698 154.706 103.773 154.795 103.825C154.885 103.877 154.986 103.905 155.09 103.906C155.193 103.907 155.295 103.881 155.386 103.83L158.176 102.214L160.967 100.608C161.057 100.556 161.131 100.481 161.183 100.391C161.234 100.301 161.261 100.2 161.261 100.096C161.261 99.9925 161.234 99.8908 161.183 99.801C161.131 99.7112 161.057 99.6364 160.967 99.5842L158.176 97.9679L155.386 96.3623C155.296 96.3118 155.195 96.2855 155.092 96.2859C154.99 96.2863 154.889 96.3133 154.8 96.3644C154.711 96.4154 154.636 96.4888 154.584 96.5772C154.532 96.6656 154.504 96.7661 154.502 96.8687V100.08Z" fill="#142661"/>
            <path d="M548.972 97.0601L544.5 101.533C544.192 101.84 544.192 102.338 544.5 102.645L544.705 102.851C545.013 103.158 545.511 103.158 545.818 102.851L550.291 98.3783C550.598 98.0711 550.598 97.5731 550.291 97.2659L550.085 97.0601C549.778 96.7529 549.28 96.7529 548.972 97.0601Z" fill="#142661"/>
            <path d="M544.735 97.0847L544.529 97.2905C544.222 97.5977 544.222 98.0957 544.529 98.4029L549.002 102.876C549.309 103.183 549.807 103.183 550.114 102.876L550.32 102.67C550.627 102.363 550.627 101.865 550.32 101.557L545.847 97.0847C545.54 96.7775 545.042 96.7775 544.735 97.0847Z" fill="#142661"/>
            <path d="M505.438 117.429H190.321C186.042 117.429 182.573 120.898 182.573 125.177V295.262C182.573 299.541 186.042 303.01 190.321 303.01H505.438C509.717 303.01 513.185 299.541 513.185 295.262V125.177C513.185 120.898 509.717 117.429 505.438 117.429Z" fill="white"/>
            <path d="M182.573 274.196H513.185V301.297C513.183 301.752 513 302.188 512.677 302.509C512.354 302.83 511.917 303.01 511.461 303.01H184.297C183.841 303.01 183.405 302.83 183.082 302.509C182.758 302.188 182.576 301.752 182.573 301.297V274.196Z" fill="#142661"/>
            <path d="M489.479 284.874V282.428H492.539V280.273H488.391C488.105 280.273 487.831 280.386 487.629 280.588C487.427 280.79 487.313 281.064 487.313 281.35V284.885L489.479 284.874Z" fill="white"/>
            <path d="M489.479 289.217H487.324V292.934C487.324 293.22 487.437 293.494 487.639 293.696C487.841 293.898 488.116 294.012 488.401 294.012H492.55V291.857H489.49L489.479 289.217Z" fill="white"/>
            <path d="M498.897 284.874H501.052V281.297C501.052 281.011 500.938 280.737 500.736 280.535C500.534 280.333 500.26 280.219 499.974 280.219H495.987V282.374H498.886L498.897 284.874Z" fill="white"/>
            <path d="M498.897 289.217V291.846H495.998V294.001H499.985C500.271 294.001 500.545 293.888 500.747 293.686C500.949 293.484 501.063 293.21 501.063 292.924V289.206L498.897 289.217Z" fill="white"/>
            <path d="M513.185 268.775H182.573V274.195H513.185V268.775Z" fill="#CED3E6"/>
            <path d="M382.765 142H360.235C359.553 142 359 142.55 359 143.228V246.772C359 247.45 359.553 248 360.235 248H382.765C383.447 248 384 247.45 384 246.772V143.228C384 142.55 383.447 142 382.765 142Z" fill="#466FF5"/>
            <path d="M378.814 191H364.186C363.531 191 363 191.596 363 192.331V197.669C363 198.404 363.531 199 364.186 199H378.814C379.469 199 380 198.404 380 197.669V192.331C380 191.596 379.469 191 378.814 191Z" fill="#084FC7"/>
            <path d="M384 151H359V155H384V151Z" fill="#084FC7"/>
            <path d="M384 231H359V235H384V231Z" fill="#084FC7"/>
            <path d="M300.232 142H276.768C276.344 142 276 142.342 276 142.763V247.237C276 247.658 276.344 248 276.768 248H300.232C300.656 248 301 247.658 301 247.237V142.763C301 142.342 300.656 142 300.232 142Z" fill="#FFDD66"/>
            <path d="M295.744 191H280.256C279.562 191 279 191.596 279 192.331V197.669C279 198.404 279.562 199 280.256 199H295.744C296.438 199 297 198.404 297 197.669V192.331C297 191.596 296.438 191 295.744 191Z" fill="#E2B61A"/>
            <path d="M301 151H276V155H301V151Z" fill="#E2B61A"/>
            <path d="M301 231H276V235H301V231Z" fill="#E2B61A"/>
            <path d="M309.723 141.909L300.495 245.712C300.458 246.131 300.767 246.501 301.186 246.538L324.362 248.598C324.781 248.636 325.151 248.326 325.188 247.907L334.415 144.104C334.453 143.685 334.143 143.315 333.724 143.278L310.549 141.218C310.13 141.181 309.76 141.49 309.723 141.909Z" fill="#466FF5"/>
            <path d="M325.166 191.96L310.375 190.645C309.712 190.586 309.128 191.075 309.069 191.737L308.641 196.545C308.582 197.207 309.072 197.792 309.734 197.851L324.525 199.165C325.187 199.224 325.772 198.735 325.831 198.073L326.258 193.265C326.317 192.603 325.828 192.018 325.166 191.96Z" fill="#084FC7"/>
            <path d="M333.722 151.851L309.03 149.656L308.668 153.726L333.361 155.921L333.722 151.851Z" fill="#084FC7"/>
            <path d="M326.635 231.619L301.942 229.424L301.581 233.493L326.273 235.688L326.635 231.619Z" fill="#084FC7"/>
            <path d="M357.814 142H336.186C335.531 142 335 142.55 335 143.228V246.772C335 247.45 335.531 248 336.186 248H357.814C358.469 248 359 247.45 359 246.772V143.228C359 142.55 358.469 142 357.814 142Z" fill="#FE7979"/>
            <path d="M354.744 191H339.256C338.562 191 338 191.596 338 192.331V197.669C338 198.404 338.562 199 339.256 199H354.744C355.438 199 356 198.404 356 197.669V192.331C356 191.596 355.438 191 354.744 191Z" fill="#DF5656"/>
            <path d="M359 151H335V155H359V151Z" fill="#DF5656"/>
            <path d="M359 231H335V235H359V231Z" fill="#DF5656"/>
            <path d="M424.354 244.29L401.435 247.99C401.236 248.023 401.033 247.975 400.869 247.857C400.705 247.74 400.595 247.562 400.562 247.363L384.01 144.584C383.994 144.484 383.997 144.383 384.021 144.285C384.044 144.187 384.087 144.095 384.146 144.014C384.205 143.933 384.28 143.864 384.366 143.812C384.452 143.76 384.547 143.725 384.646 143.71L407.565 140.01C407.764 139.977 407.967 140.025 408.131 140.143C408.295 140.26 408.405 140.438 408.438 140.637L424.99 243.416C425.006 243.516 425.003 243.617 424.979 243.715C424.956 243.813 424.913 243.905 424.854 243.986C424.795 244.067 424.72 244.136 424.634 244.188C424.548 244.24 424.453 244.275 424.354 244.29Z" fill="#FFDD66"/>
            <path d="M411.741 188.844L396.024 191.378C395.659 191.437 395.411 191.78 395.47 192.145L396.409 197.966C396.468 198.331 396.811 198.579 397.176 198.52L412.892 195.986C413.257 195.927 413.505 195.584 413.446 195.219L412.507 189.398C412.449 189.033 412.105 188.785 411.741 188.844Z" fill="#E2B61A"/>
            <path d="M409.645 147.942L385.171 151.888L385.821 155.921L410.295 151.975L409.645 147.942Z" fill="#E2B61A"/>
            <path d="M422.4 227.012L397.926 230.959L398.576 234.992L423.05 231.046L422.4 227.012Z" fill="#E2B61A"/>
            <path d="M103.709 28.3852C103.773 31.7771 100.672 34.9225 97.2928 34.8294C93.9137 34.7363 90.946 31.3763 91.3535 28.018C91.6534 25.6242 93.2795 23.7978 95.3476 22.4341C96.2977 22.1236 97.3075 22.0405 98.2955 22.1917C99.2836 22.3429 100.222 22.7241 101.036 23.3046C101.85 23.8851 102.516 24.6486 102.981 25.5336C103.445 26.4186 103.695 27.4004 103.711 28.3999L103.709 28.3852Z" fill="#FFDD66"/>
            <path d="M16.2899 333.44C16.36 337.173 12.9466 340.635 9.2272 340.533C5.50784 340.43 2.24137 336.732 2.68994 333.035C3.02001 330.401 4.80982 328.39 7.0861 326.889C8.13187 326.548 9.24332 326.456 10.3309 326.623C11.4184 326.789 12.4517 327.209 13.3474 327.847C14.2431 328.486 14.9762 329.327 15.4876 330.301C15.999 331.275 16.2744 332.356 16.2917 333.456L16.2899 333.44Z" fill="#FFDD66"/>
            <path d="M650.694 106.749C650.756 110.045 647.743 113.101 644.46 113.01C641.177 112.92 638.293 109.655 638.689 106.393C638.981 104.067 640.561 102.292 642.57 100.967C643.493 100.666 644.474 100.585 645.434 100.732C646.394 100.879 647.306 101.249 648.097 101.813C648.887 102.377 649.534 103.119 649.986 103.979C650.437 104.839 650.68 105.793 650.696 106.764L650.694 106.749Z" fill="#FE7979"/>
            <path d="M665.755 320.242C665.795 322.416 663.808 324.432 661.642 324.372C659.476 324.313 657.573 322.159 657.835 320.006C658.027 318.472 659.069 317.301 660.395 316.427C661.004 316.228 661.651 316.175 662.284 316.272C662.918 316.369 663.519 316.613 664.041 316.985C664.563 317.357 664.99 317.847 665.287 318.414C665.585 318.981 665.746 319.61 665.756 320.251L665.755 320.242Z" fill="#FFDD66"/>
            <path d="M604.487 386.468C604.527 388.642 602.539 390.658 600.374 390.598C598.208 390.539 596.305 388.385 596.567 386.232C596.759 384.698 597.801 383.527 599.127 382.653C599.736 382.454 600.383 382.401 601.016 382.498C601.65 382.594 602.251 382.839 602.773 383.211C603.295 383.583 603.721 384.072 604.019 384.64C604.317 385.207 604.477 385.836 604.488 386.477L604.487 386.468Z" fill="#FE7979"/>
            <path d="M651.167 261.662C651.243 265.75 647.506 269.541 643.433 269.429C639.36 269.317 635.783 265.267 636.275 261.22C636.636 258.334 638.596 256.133 641.088 254.49C642.233 254.115 643.451 254.015 644.641 254.197C645.832 254.38 646.964 254.839 647.944 255.539C648.925 256.238 649.728 257.159 650.288 258.225C650.848 259.292 651.15 260.475 651.168 261.68L651.167 261.662Z" fill="#466FF5"/>
            <path d="M136.374 5.1378C136.412 7.18079 134.544 9.07537 132.509 9.0193C130.474 8.96322 128.686 6.93939 128.931 4.91662C129.112 3.47478 130.092 2.37465 131.337 1.5533C131.909 1.36625 132.518 1.31624 133.113 1.40731C133.708 1.49838 134.273 1.72798 134.764 2.0776C135.254 2.42723 135.655 2.88711 135.935 3.42018C136.215 3.95326 136.365 4.54462 136.375 5.14661L136.374 5.1378Z" fill="#466FF5"/>
            <path d="M460.674 33.4333C460.719 35.8317 458.526 38.0559 456.137 37.99C453.747 37.9242 451.649 35.5483 451.937 33.1736C452.149 31.4809 453.299 30.1894 454.761 29.2252C455.433 29.0056 456.147 28.9469 456.846 29.0538C457.545 29.1607 458.208 29.4302 458.784 29.8407C459.359 30.2512 459.83 30.791 460.159 31.4169C460.487 32.0427 460.664 32.7369 460.675 33.4436L460.674 33.4333Z" fill="#FE7979"/>
            <path d="M11.3483 236.042C11.3925 238.4 9.2364 240.587 6.88703 240.522C4.53767 240.457 2.47437 238.121 2.75772 235.786C2.96621 234.122 4.09676 232.852 5.53459 231.904C6.19516 231.688 6.89722 231.63 7.58418 231.736C8.27115 231.841 8.92381 232.106 9.48958 232.509C10.0554 232.913 10.5184 233.444 10.8415 234.059C11.1645 234.674 11.3385 235.357 11.3494 236.052L11.3483 236.042Z" fill="#466FF5"/>
            <path d="M60.1353 349.893C60.1789 352.215 58.0551 354.369 55.741 354.306C53.4269 354.242 51.3945 351.941 51.6736 349.641C51.879 348.002 52.9926 346.751 54.4088 345.817C55.0595 345.604 55.751 345.548 56.4277 345.651C57.1043 345.755 57.7472 346.016 58.3045 346.413C58.8618 346.811 59.3179 347.334 59.6361 347.94C59.9543 348.546 60.1256 349.218 60.1364 349.903L60.1353 349.893Z" fill="#FE7979"/>
            <defs>
            <filter id="filter0_d" x="104.655" y="57.8455" width="495.602" height="326.892" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dx="4" dy="3"/>
            <feGaussianBlur stdDeviation="7.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.160104 0 0 0 0 0.151042 0 0 0 0 0.604167 0 0 0 0.15 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            </defs>
            </svg>
            
        </div>
        </div> 
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }</script>
    <script>
      var cont=0;
  function loopSlider(){
    var xx= setInterval(function(){
          switch(cont)
          {
          case 0:{
              $("#slider-1").fadeOut(400);
              $("#slider-2").delay(400).fadeIn(400);
          cont=1;
          
          break;
          }
          case 1:
          {
          
              $("#slider-2").fadeOut(400);
              $("#slider-3").delay(400).fadeIn(400);
             
          cont=2;
          
          break;
          }
          case 2:
          {
          
              $("#slider-3").fadeOut(400);
              $("#slider-1").delay(400).fadeIn(400);
             
          cont=0;
          
          break;
          }
          
          
          }},3000);
  
  }
  
  function reinitLoop(time){
  clearInterval(xx);
  setTimeout(loopSlider(),time);
  }
  
  
      $(window).ready(function(){
          $("#slider-2").hide();
          $("#slider-3").hide();
         loopSlider();
      });
  
    
    </script>

<%- include("./partials/footer.ejs") %>