<%- include("./partials/header.ejs") %>
<div class="flex flex-wrap pt-24 justify-center space-x-64">
    <div class="flex ">
    <div class="text-2xl font-bold" style="color: #142661; width:740px">My Learning
    </div></div></div>
<%- include("./partials/footer.ejs") %>