<%- include("./partials/header.ejs") %>
<div class="flex pt-24 space-x-16 ml-80 text-black text-2xl font-bold ">
<button class="text-blue-600 focus:outline-none">Saved Videos and Assignments </button>
<button class="focus:outline-none">Approved Citation
</button>
<button class="focus:outline-none">Recently Viewed </button></div>

<%- include("./partials/footer.ejs") %>