
<div class="mx-80 flex space-x-1">
	
		
            <%- include("./coursecard.ejs") %>
            <%- include("./coursecard.ejs") %>
            
            
            <%- include("./coursecard.ejs") %>
            <%- include("./coursecard.ejs") %>
		
		


</div></div>

