<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      SWC Course Directory
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/public/favicon.ico" type="image/icon type">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background-color: white;
      }
    </style>
    <style>

      /* Button used to open the chat form - fixed at the bottom of the page */
      .open-button {
        background-color: gray;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 200px;
      }
      
      /* The popup chat - hidden by default */
      .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }
      
      /* Full-width textarea */
      .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
      }
      
      /* When the textarea gets focus, do something */
      .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 1;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
              </style>
              <style>
                .carousel-open:checked + .carousel-item {
                  position: static;
                  opacity: 100;
                }
                .carousel-item {
                  -webkit-transition: opacity 0.6s ease-out;
                  transition: opacity 0.6s ease-out;
                }
                #carousel-1:checked ~ .control-1,
                #carousel-2:checked ~ .control-2,
                #carousel-3:checked ~ .control-3 {
                  display: block;
                }
                .carousel-indicators {
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  position: absolute;
                  bottom: 2%;
                  left: 0;
                  right: 0;
                  text-align: center;
                  z-index: 10;
                }
                #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
                #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
                #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
                  color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
                }

              </style></head>

  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <!--Nav-->
    <nav id="header" class="fixed w-full z-30 top-0 text-white ">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
          <a class="toggleColour text-blue-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/coursedirectory">
        
            <svg class="inline fill-current" width="49" height="35" viewBox="0 0 49 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect fill="black" x="16.539" y="425.626" width="479.767" height="50.502" transform="matrix(1,0,0,1,0,0)" />
                <path d="M9.98462 0H22.1731L12.2628 17.1297L15.1419 22.6578L28.3477 0H38.7895L48.79 17.3601L38.6745 35H26.4667L36.5632 17.5327L33.5111 12.3886L20.2665 35H9.99738L0 17.1282L9.98462 0Z"/>
                </svg>
            Course Directory
          </a>
          <div  class=""><a  class="inline-block hidden md:block text-black font-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"><button onclick="opencategory()"  id="categoriesbutton"
            class="mx-auto lg:mx-0 hover:underline bg-blue-600 text-white font-bold rounded-md mt-4 lg:mt-0 py-4 px-4 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Categories
          </button></a></div>
          
          
          <div class=" pl-2 flex items-center hidden md:block border-solid border-2 bg-white rounded-md border-black">
            <form action="">
              <input class=" w-64 text-black  border-gray-400 rounded-lg"  type="text" name="search" placeholder="Department, Course name, Course Code, Professor" >
              <button  class=" text-white font-bold py-2 px-2  " type="submit" name="submit"><svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.2403 16.7071L19.7643 20.222M18.9771 9.98856C18.9771 14.9528 14.9528 18.9771 9.98856 18.9771C5.02431 18.9771 1 14.9528 1 9.98856C1 5.02431 5.02431 1 9.98856 1C14.9528 1 18.9771 5.02431 18.9771 9.98856Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </button>
            </form>
          </div>
        </div>
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            
              
              <% if(!user){ %>
            <li class="mr-3">
              <a class="inline-block text-white font-white no-underline hover:text-underline py-2 "><button
                id="navAction" onclick="openModal()"
                class="bg-blue-600 mx-auto lg:mx-0 hover:underline font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
              >
                Login
              </button></a>
            </li><% }else{%>
              <li class="mr-3">
                <a href="/coursedirectory/mylearning" class="inline-block text-black font-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"><button
                   
                  class="mx-auto lg:mx-0 hover:underline text-gray-800 font-bold  mt-4 lg:mt-0    focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                >
                  My Learning
                </button></a>
              </li>
              <li class="mr-3">
                <a href="/coursedirectory/citation" class="inline-block text-black font-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"><button
                   
                  class="mx-auto lg:mx-0 hover:underline text-gray-800 font-bold  mt-4 lg:mt-0  focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                >
                  Course Citation
                </button></a>
              </li>
              <li class="mr-3">
                <a href="/coursedirectory/ask" class="inline-block text-black font-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"><button
                   
                  class="mx-auto lg:mx-0 hover:underline text-gray-800 font-bold  mt-4 lg:mt-0   focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                >
                  Ask a query
                </button></a>
              </li>
              <li class="mr-3">
                <a href="/coursedirectory/contribute" class="inline-block text-black font-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"><button
                   
                  class="mx-auto lg:mx-0 hover:underline text-gray-800 font-bold  mt-4 lg:mt-0   focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                >
                  Contribute
                </button></a>
              </li>
            <li class="mr-3">
              <a class="inline-block text-white font-white no-underline  hover:text-underline py-2 px-4" href="/coursedirectory/auth/logout"><button
                id="navAction"
                class="bg-blue-600 mx-auto lg:mx-0 hover:underline font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
              >
                Logout
              </button></a>
            </li><% } %>
          </ul>
          
        </div>
      </div>
      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>
    <div id="categories" class="flex fixed z-30 left-80 top-20 bg-white text-black border-black border-solid border-2 hidden">
      <div class="bg-gray-100 w-52">
        <button class="mt-8 font-sans font-bold text-lg text-blue-600 px-10">Degree</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
        <button class="mt-3.5 px-10" onclick="openBranch()">B.Tech</button><br />
      </div>
      <div id="branches" class="ml-5 mr-4 w-52 hidden">
        <button class="mt-8 font-sans font-bold text-lg text-blue-600 px-4">Department</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
        <button class="mt-3.5 px-4" onclick="openSemester()">Mechanical Engineering</button><br />
      </div>
      <svg class="mt-8 mb-8" width="2" height="400" viewBox="0 0 2 465" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0L0.999972 465" stroke="#B7DAFF" />
      </svg>
      <div id="semesters" class="ml-5 mr-4 w-36 hidden">
        <button class="mt-8 font-sans font-bold text-lg text-blue-600 px-4">Semester</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
        <button class="mt-3.5 px-4" onclick="openCourse()">Semester 1</button><br />
      </div>
      <svg class="mt-8 mb-8" width="2" height="400" viewBox="0 0 2 465" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0L0.999972 465" stroke="#B7DAFF" />
      </svg>
      <div id="courses" class="ml-5 mr-4 w-72 hidden">
        <button class="mt-8 font-sans font-bold text-lg text-blue-600 px-4 w-min">Courses</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
        <button class="mt-3.5 px-4">ME201 Loreum Ipsum Dolor</button><br />
      </div>
    </div>
    <div id="modal" class="fixed z-10 inset-0 overflow-y-auto" style="display: none;" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Login</h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">For IITG people</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6"><a href="/coursedirectory/auth/outlook">
            <button type="button" class="md:ml-4 w-full  rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-400 text-base font-medium text-white hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">Login with outlook</button></a>
            <button onclick="closeModal()" type="button" class="mt-3 w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
            
          </div>
        </div>
      </div>
    </div>
    <button class="open-button rounded-full hidden" onclick="openForm()" id="formbutton">Ask Here</button>
        <div class="chat-popup hidden" style="position: fixed; bottom: 0px; right:0px; display: none;" id="myForm">
            
            <form action="" class="form-container">
          
              <label class="text-black" for="msg"><b>Type Your Query Here..</b></label>
              <textarea class="text-black" placeholder="Type Query.." name="msg" required></textarea>
          
              <button type="submit" class="btn">Send</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>